h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
    color: white;
}

.bgc {
    background-color: oklch(19.52% .0091 285.53);
    height: 55%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.margin {
    margin: 10px;
}

.font {
    font-family: 'Inter', sans-serif;
    color: white;
}
.margin_sign{
    display: flex;
    margin: 20px;
    margin-left: 30%;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 1025px) {
    .margin-20 {
        margin-left: 20px;
    }

}

@media screen and (max-width: 1025px) {
    .font {
        font-family: 'Inter', sans-serif;
        color: white;
        font-size: 26px;

    }

}